<div class="ui-body ui-body-a ui-corner-all">
  <%= form_for(@entry) do |f| %>
    <%= f.hidden_field :task_id, value: @task.id %>
    <div class="field ui-field-contain">
      <%= f.label :expected_at %>
      <%= f.datetime_select :expected_at, {}, data: { role: "none"} %>
    </div>
    <div class="field ui-field-contain">
      <%= f.label :price %>
      <%= f.number_field :price, min: 1 %>
    </div>
    <%= f.submit t('Contract') %>
  <% end %>
</div>
