<% provide :title, t('activerecord.models.want') %>
<h1><%= yield(:title) %></h1>

<ul data-role="listview" data-inset="true">
  <li>
    <h2><%= Want.human_attribute_name(:title) %></h2>
    <p><%= @want.title %></p>
  </li>

  <li>
    <h2><%= Want.human_attribute_name(:user) %></h2>
    <p><%= @want.user.name %></p>
  </li>

  <li>
    <h2><%= Want.human_attribute_name(:category) %>:</h2>
    <p><%= @want.category.name %></p>
  </li>

  <li>
    <h2><%= Want.human_attribute_name(:description) %></h2>
    <div><%= simple_format @want.description %></div>
  </li>

  <li>
    <h2><%= Want.human_attribute_name(:price) %>:</h2>
    <p><%= @want.price %></p>
  </li>

  <li>
    <h2><%= Want.human_attribute_name(:expired_at) %></h2>
    <p><%= @want.expired_at.try(:strftime, "%Y/%m/%d %H:%M") %></p>
  </li>
</ul>

<% if @want.user_id == current_user.id %>
<%= link_to t('Edit'), edit_want_path(@want), class: "ui-btn ui-btn-inline" %>
<%= link_to t('Destroy'), @want, method: :delete, data: { confirm: t('Are you sure?')}, class: "ui-btn ui-btn-inline" %>
<%= link_to t('Back to my wants'), wants_user_path(current_user), class: "ui-btn ui-btn-inline" %>
<% else %>
<%= link_to t('Contract'), { controller: :messages, action: :new, want: @want.id }, class: "ui-btn ui-btn-inline" %>
<% end %>
<%= link_to t('Back'), wants_path, class: "ui-btn ui-btn-inline" %>
