<%= form_for(@message, html: { data: { ajax: false}} ) do |f| %>
  <ul data-role="listview" data-inset="true">
  <% if @message.errors.any? %>
    <li>
      <div id="error_explanation">
        <h2><%=t "activerecord.errors.template.header.other", :model => Message.model_name.human, :count => @message.errors.count %></h2>

        <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </li>
  <% end %>

    <li class="field" data-role="fieldcontain">
      <%= f.label :to_id %>
      <%= f.collection_select :to_id, @tos, :id, :name %>
    </li>

    <li class="field" data-role="fieldcontain">
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </li>

    <li class="field" data-role="fieldcontain">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </li>

    <li class="actions">
      <%= f.submit t("Submit new message") %>
    </li>
  </ul>
<% end %>
