<%= form_for(@message, html: { data: { ajax: false}} ) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%=t "activerecord.errors.template.header.other", :model => Message.model_name.human, :count => @message.errors.count %></h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data-role="fieldcontain">
    <%= f.label :to_id %>
    <%= f.collection_select :to_id, @tos, :id, :name %>
  </div>

  <div class="field" data-role="fieldcontain">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div class="field" data-role="fieldcontain">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit t("Submit new message") %>
  </div>
<% end %>
