<% provide :locale, I18n.locale.inspect %>
<% provide :title,  t("Listing ", model: Message.model_name.human.pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= link_to t('New ', model: Message.model_name.human), new_message_path, class: "ui-btn" %>

<br>
<br>
<br>

<% if @companions.present? %>
  <ul data-role="listview">
    <% @companions.each do |companion| %>
      <li><a href="/users/<%= companion.id %>/messages"><%= companion.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <%= t("No message.") %>
<% end %>
