<% provide :locale, I18n.locale.inspect %>
<% provide :title,  t("Listing ", model: t('activerecord.models.message').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= link_to t('New ', model: t('activerecord.models.message')), new_message_path, data: { role: :button } %>

<br>
<br>
<br>

<% if @companions.present? %>
  <ul data-role="listview">
    <% @companions.each do |companion| %>
      <li><a href="/users/<%= companion.id %>/messages"><%= companion.name %><span class="ui-li-count"><%= companion.passings.where(companion_id: current_user.id).count %></span></a></li>
    <% end %>
  </ul>
<% else %>
  <%= t("No message.") %>
<% end %>
