<% provide :title, t('activerecord.models.message') %>
<h1><%= yield(:title) %></h1>

<p>
  <strong><%= t('Sender_id') %>:</strong>
  <%= @message.sender_id %>
</p>

<p>
  <strong><%= t('Recepicent_id') %>:</strong>
  <%= @message.recepient_id %>
</p>

<p>
  <strong><%= t('Subject') %>:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong><%= t('Body') %>:</strong>
  <%= @message.body %>
</p>

<%= link_to t('Edit'), edit_message_path(@message) %> |
<%= link_to t('Back'), messages_path %>
