<%= form_for(@offering, html: { data: { ajax: false}} ) do |f| %>
  <ul data-role="listview" data-inset="true">
    <% if @offering.errors.any? %>
    <li>
      <div id="error_explanation">
        <h2><%=t "activerecord.errors.template.header.other", :model => Offering.model_name.human, :count => @offering.errors.count %></h2>

        <ul>
        <% @offering.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </li>
    <% end %>

    <li class="field ui-field-contain">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </li>

    <li class="field ui-field-contain">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, @categories, :id, :name %>
    </li>

    <li class="field ui-field-contain">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </li>

    <li class="field ui-field-contain">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </li>

    <li class="field ui-field-contain">
      <%= f.label :no_expiration %>
      <%= check_box_tag 'offering[no_expiration]' %>
      <div class="field ui-field-contain" id="offering_expired_at_div">
        <%= f.label :expired_at %>
        <%= f.datetime_local_field :expired_at, placeholder: t("Remain blank if no expiration") %>
      </div>
    </li>

    <li class="actions">
      <%= f.submit %>
    </li>
  </ul>
<% end %>
