<% provide :locale, I18n.locale.inspect %>
<% provide :title,  t("Listing ", model: t('activerecord.models.offering').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<% if @categories.present? %>
  <div data-role="collapsible-set" data-theme="b" data-content-theme="d">
    <% @categories.each do |category| %>
      <% if category.offerings.readable.present? %>
        <div data-role="collapsible">
          <h2><%= category.name %>: <span><%= category.offerings.readable.count %></span></h2>
          <% if category.offerings.readable.count > 10 %>
            <ul data-role="listview" data-filter="true" data-filter-theme="c" data-divider-theme="d">
          <% else %>
            <ul data-role="listview" data-divider-theme="d">
          <% end %>
            <% category.offerings.readable.each do |offering| %>
              <li><%= link_to offering.title, offering %></li>
            <% end %>
          </ul>
       </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p><%= t("No ", model: t('activerecord.models.category')) %></p>
<% end %>
