<% provide :title, t('activerecord.models.offering') %>
<h1><%= yield(:title) %></h1>

<ul data-role="listview" data-inset="true">
  <li>
    <h2><%= Offering.human_attribute_name(:title) %>:</h2>
    <p><%= @offering.title %></p>
  </li>

  <li>
    <h2><%= Offering.human_attribute_name(:user) %>:</h2>
    <p><%= @offering.user.name %></p>
  </li>

  <li>
    <h2><%= Offering.human_attribute_name(:category) %>:</h2>
    <p><%= @offering.category.name %></p>
  </li>

  <li>
    <h2><%= Offering.human_attribute_name(:description) %>:</h2>
    <p><%= simple_format @offering.description %></p>
  </li>

  <li>
    <h2><%= Offering.human_attribute_name(:price) %>:</h2>
    <p><%= @offering.price %></p>
  </li>

  <li>
    <h2><%= Offering.human_attribute_name(:expired_at) %>:</h2>
    <p><%= @offering.expired_at.try(:strftime, "%Y/%m/%d %H:%M") %></p>
  </li>
</ul>

<% if @offering.user_id == current_user.id %>
<%= link_to t('Edit'), edit_offering_path(@offering), class: "ui-btn ui-btn-inline" %>
<%= link_to t('Destroy'), @offering, method: :delete, data: { confirm: t('Are you sure?') }, class: "ui-btn ui-btn-inline" %>
<%= link_to t('Back to my offerings'), offerings_user_path(current_user), data: { role: :button, icon: "arrow-l" } %>
<% else %>
<%= link_to t('Entrust'), { controller: :messages, action: :new, offering: @offering.id }, class: "ui-btn ui-btn-inline" %>
<% end %>
<%= link_to t('Back'), offerings_path, class: "ui-btn ui-icon-arrow-l ui-btn-icon-left"  %>
