<h3>取引の状況</h3>
<ul data-role="listview" data-inset="true">
  <li><strong>依頼者</strong>: <%= @entry.owner.name %></li>
  <li><strong>請負者</strong>: <%= @entry.contractor.name %></li>
  <li><strong>状態</strong>: <%= t(@entry.status) %></li>
</ul>

<% if @entry.commitable?(current_user) %>
  <%= render 'entries/commit' %>
<% end %>

<% if @entry.cancelable?(current_user) %>
  <%= render 'entries/cancel' %>
<% end %>

<% if @entry.performable?(current_user) %>
  <%= render 'entries/perform' %>
<% end %>

<% if @entry.payable?(current_user) %>
  <%= render 'entries/pay' %>
<% end %>
