<% if @entry.status == "to be contracted" %>
  <div class="ui-body ui-body-a ui-corner-all">
    <p><strong>状態: </strong><%= t(@entry.status)%></p>
    <p>連絡を取り合って、日時を調整してください。2人ともOKすると、申し込み完了です。</p>
    <%= form_for(@entry) do |f| %>
      <div class="field ui-field-contain">
        <%= f.label :expected_at %>
        <% if @mobile %>
          <%= f.datetime_local_field :expect_at, placeholder: t("Must be written") %>
        <% else %>
          <%= f.datetime_select :expected_at, {}, data: { role: "none"} %>
        <% end %>
      </div>
      <% if @entry.user == current_user %>
        <% if @entry.owner_contracted? %>
          <p>相手はこの日時でOKしています。</p>
        <% else %>
          <p>相手はこの日時でまだOKしていません。</p>
        <% end %>
        <%= f.submit "この日時でOK(あなた)", name: "contract[user_contract]" %>
        <%= f.submit "この申し込みをキャンセル", name: "contract[user_cancel]" %>
      <% elsif @entry.task.user == current_user %>
        <%= f.submit "この日時でOK(あなた)", name: "contract[owner_contract]"  %>
        <%= f.submit "この申し込みをキャンセル", name: "contract[owner_cancel]"  %>
      <% end %>
    <% end %>
  </div>
<% elsif @entry.status == "user_contracted" %>
  <div class="ui-body ui-body-a ui-corner-all">
    <p><strong>状態: </strong><%= t(@entry.status)%></p>
    <p><strong>実施予定日時: </strong><%= @entry.expected_at %></p>
    <p>申し込みが完了しています。実施予定日時に実施してください。</p>
    <%= form_for(@entry) do |f| %>
      <%= f.submit "実施しました" %>
    <% end %>
  </div>
<% elsif @entry.status == "owner_contracted" %>
  <div class="ui-body ui-body-a ui-corner-all">
    <p><strong>状態: </strong><%= t(@entry.status)%></p>
    <p><strong>実施予定日時: </strong><%= @entry.expected_at %></p>
    <p>申し込みが完了しています。実施予定日時に実施してください。</p>
    <%= form_for(@entry) do |f| %>
      <%= f.submit "実施しました" %>
    <% end %>
  </div>
<% elsif @entry.status == "performed" %>
<% elsif @entry.status == "paid" %>
<% elsif @entry.status == "owner canceld" %>
<% elsif @entry.status == "user canceled" %>
<% end %>
