<% if @entries.any? %>
  <table>
    <tr>
      <th><%= @class_name.human_attribute_name(:expected_at) %></th>
      <th><%= @class_name.human_attribute_name(:task) %></th>
      <th><%= @class_name.human_attribute_name(:user) %></th>
      <th><%= @class_name.human_attribute_name(:status) %></th>
    </tr>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= l(entry.expected_at) if entry.expected_at %></td>
        <td><%= entry.task.title %></td>
        <td><%= entry.task.user.name %></td>
        <td><%= link_to t(entry.status), entry %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= t('No contract') %>
<% end %>
