<% provide :title, @class_name.model_name.human %>

<%= form_for(@task, html: { data: { ajax: false}} ) do |f| %>
  <ul data-role="listview" data-inset="true">
    <% if @task.errors.any? %>
      <li>
        <div id="error_explanation">
          <h2><%= t("activerecord.errors.template.header.other", :model => @class_name.model_name.human, :count => @task.errors.count) %></h2>

          <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </li>
    <% end %>

    <li class="field ui-field-contain">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </li>

    <li class="field ui-field-contain">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, @categories, :id, :name %>
    </li>

    <li class="field ui-field-contain">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </li>

    <li class="field ui-field-contain">
      <%= f.label :price_description %>
      <%= f.text_field :price_description %>
    </li>

    <li class="field ui-field-contain">
      <%= f.label :opened %>
      <%= f.check_box :opened, { data: { role: 'flipswitch'} }, checked_value = "true", unchecked_value = "false" %>
    </li>

    <li class="actions">
      <%= f.submit %>
    </li>
  </ul>
<% end %>
