<%
if @task.instance_of?(Offering)
  class_name = Offering
else
  class_name = Want
end
%>

<ul data-role="listview" data-inset="true">
  <li>
    <strong><%= class_name.human_attribute_name(:title) %>:</strong>
    <%= @task.title %>
  </li>

  <li>
    <strong><%= class_name.human_attribute_name(:user) %>:</strong>&nbsp;
    <span><%= gravatar_for @task.user, size: 20 %>&nbsp;<%= @task.user.name %></span>
  </li>

  <li>
    <strong><%= class_name.human_attribute_name(:category) %>:</strong>
    <%= @task.category.name %>
  </li>

  <li>
    <h2><%= class_name.human_attribute_name(:description) %>:</h2>
    <p><%= simple_format @task.description %></p>
  </li>

  <li>
    <strong><%= class_name.human_attribute_name(:price) %>:</strong>
    <%= @task.price %>
  </li>
<!--
  <li>
    <h2><%= class_name.human_attribute_name(:expired_at) %>:</h2>
    <p><%= @task.expired_at.try(:strftime, "%Y/%m/%d %H:%M") %></p>
  </li>
-->
</ul>
