<div class="ui-body ui-body-a ui-corner-all">
  <%= form_for(@talk, html: { data: { ajax: false}} ) do |f| %>
    <div class="field ui-field-contain">
      <%= f.label :recepient_id, t('Recepient') %>
      <%= f.collection_select :recepient_id, @recepients, :id, :name %>
    </div>
    <%= f.text_area :body %>
    <%= f.submit t("Submit new talk") %>
  <% end %>
</div>
<br>
