<% provide :locale, I18n.locale.inspect %>
<% provide :title,  t("Listing ", model: t("activerecord.models.#{@class_name.downcase}").pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<% if @entries.any? %>
  <table class="ui-body-a">
    <tr>
      <th><%= Entry.human_attribute_name(:expected_at) %></th>
      <th><%= Entry.human_attribute_name(:title) %></th>
      <th><%= Entry.human_attribute_name(:owner) %></th>
      <th><%= Entry.human_attribute_name(:status) %></th>
    </tr>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= l(entry.expected_at) if entry.expected_at %></td>
        <td><%= link_to entry.title, entry %></td>
        <td>
          <%= gravatar_for entry.owner, size: 16 %>
          <%= link_to entry.owner.name, entry %>
        </td>
        <td><%= t(entry.status) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t("There is no ", model: t("activerecord.models.#{@class_name.downcase}")) %></p>
<% end %>
