<h1>お願いしたこと</h1>
<% if @contracts.any? %>
  <table>
    <tr>
      <th><%= Contract.human_attribute_name(:expected_at) %></th>
      <th><%= Offering.human_attribute_name(:title) %></th>
      <th><%= Offering.human_attribute_name(:user) %></th>
      <th><%= Contract.human_attribute_name(:status) %></th>
    </tr>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= l(contract.expected_at) if contract.expected_at %></td>
        <td><%= link_to contract.task.title, offering_path(contract.task) %></td>
        <td>
          <%= gravatar_for contract.task.user, size: 16 %>
          <%= link_to contract.task.user.name, contract %>
        </td>
        <td><%= t(contract.status) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= t('No contract') %>
<% end %>

<h1>頼まれたこと</h1>
<% if @entrusts.any? %>
  <table>
    <tr>
      <th><%= Entrust.human_attribute_name(:expected_at) %></th>
      <th><%= Want.human_attribute_name(:title) %></th>
      <th><%= Want.human_attribute_name(:user) %></th>
      <th><%= Entrust.human_attribute_name(:status) %></th>
    </tr>
    <% @entrusts.each do |entrust| %>
      <tr>
        <td><%= l(entrust.expected_at) if entrust.expected_at %></td>
        <td><%= link_to entrust.task.title, want_path(entrust.task) %></td>
        <td>
          <%= gravatar_for entrust.task.user, size: 16 %>
          <%= link_to entrust.task.user.name, entrust %>
        </td>
        <td><%= t(entrust.status) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= t('No entrust') %>
<% end %>
