<h1>お願いしたこと</h1>
<% if @entries.any? %>
  <table>
    <tr>
      <th><%= Entry.human_attribute_name(:expected_at) %></th>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th><%= Task.human_attribute_name(:user) %></th>
      <th><%= Entry.human_attribute_name(:status) %></th>
    </tr>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= l(entry.expected_at) if entry.expected_at %></td>
        <td><%= link_to entry.title, entry %></td>
        <td>
          <%= gravatar_for entry.owner, size: 16 %>
          <%= link_to entry.owner.name, entry %>
        </td>
        <td><%= t(entry.status) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= t('No entry') %>
<% end %>
