<% provide :title, @user.name %>
<h1><%= yield(:title) %></h1>

<p><%= t('New ', model: t('activerecord.models.message')) %></p>
<%= form_for(@message) do |f| %>
  <ul data-role="listview" data-inset="true">
    <li data-role="fieldcontaion">
      <%= f.hidden_field :sender_id %>
      <%= f.hidden_field :recepient_id %>
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </li>
    <li data-role="fieldcontaion">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </li>
    <li>
      <%= f.submit t("Submit new message") %>
    </li>
  </ul>
<% end %>
<hr>

<% if @passings.present? %>
  <% @passings.each do |passing| %>
  <% passing.direction == "outgoing" ? float = "left" : float = "right" %>
  <div class="ui-shadow ui-btn-corner-all ui-btn-up-c message-<%= float %>">
    <%= passing.user.name %>|<%= passing.companion.name %><br>
    <strong><%= passing.message.subject %></strong>
    <p><%= simple_format passing.message.body %></p>
    <p><%= l(passing.message.created_at) %></p>
  </div>
  <% end %>
  <br style="clear: both;">
<% else %>
  <p><%= t("There is no ", model: t('activerecord.models.message')) %></p>
<% end %>