<% provide :title, @with.name %>
<h1><%= yield(:title) %></h1>

<!-- <%= link_to t('New message'), new_message_path, data: { role: :button } %> -->

<p><%= t('New ', model: t('activerecord.models.message')) %></p>
<%= form_for(@message) do |f| %>
  <%= f.hidden_field :to_id %>
  <%= f.text_field :subject, placeholder: Message.human_attribute_name(:subject) %>
  <%= f.text_area :body, placeholder: t("Compose new message...") %>
  <%= f.submit t("Submit new message") %>
<% end %>

<hr>

<% @messages.each do |message| %>
<% message.direction == "to" ? float = "left" : float = "right" %>
<div class="ui-shadow ui-btn-corner-all ui-btn-up-c message-<%= float %>">
  <strong><%= message.subject %></strong>
  <p><%= message.body %></p>
  <p><%= l(message.created_at) %></p>
</div>
<% end %>
<br style="clear: both;">
