<% provide :title, @user.name %>

<div class="ui-body ui-body-a ui-corner-all">
  <h1><%= yield(:title) %></h1>
  <p><%= gravatar_for @user, size: 50 %></p>
  <%= render 'users/description' %>
  <%= render 'layouts/stats' %>
</div>

<%= render 'follow_form' if signed_in? %>

<% if @user.id != current_user.id %>
  <%= link_to Message.model_name.human.pluralize(:locale), messages_user_path(@user), class: "ui-btn" %>
<% else %>
  <%= link_to t("Settings"), edit_user_registration_path, class: "ui-btn" %>
<% end %>

<%= link_to Offering.model_name.human.pluralize(:locale), offerings_user_path(@user), class: "ui-btn" %>

<%= link_to Want.model_name.human.pluralize(:locale), wants_user_path(@user), class: "ui-btn" %>
