<% provide :title, @user.name %>
<h1><%= yield(:title) %></h1>

<div class="ui-body ui-body-a ui-corner-all">
  <h3><%= User.human_attribute_name(:description) %>:</h3>
  <%= simple_format @user.description %>
</div>

<% if @user.id != current_user.id %>
  <%= link_to Message.model_name.human.pluralize(:locale), messages_user_path(@user), class: "ui-btn" %>
<% else %>
  <%= link_to t("Settings"), edit_user_registration_path, class: "ui-btn" %>
<% end %>

<%= link_to Offering.model_name.human.pluralize(:locale), offerings_user_path(@user), class: "ui-btn" %>

<%= link_to Want.model_name.human.pluralize(:locale), wants_user_path(@user), class: "ui-btn" %>
