<% provide :title, t("My Status") %>
<% @user ||= current_user %>

<div class="ui-body ui-body-a ui-corner-all">
  <h1><%= t(yield(:title)) %></h1>
  <%= render 'users/profile' %>
  <br>
  <%= render 'users/notifications_and_talks' %>
  <br>
  <%= render 'users/trades_in_progress' %>
  <br>
  <%= render 'users/services_on_display' %>
  <br>
  <%= render 'users/recent_trades' %>
</div>
