<% provide :title, t("Koubata Project") %>
<% unless user_signed_in? %>
<p><%= t("Welcome to Koubata Project!") %></p>
<p><%= t("If you don't have an account you can sign up!") %></p>
<%= link_to t("Sign in"), new_user_session_path, data: { ajax: false }, class: "ui-btn ui-icon-arrow-r ui-btn-icon-right" %>
<%= link_to t("Sign up"), new_user_registration_path, class: "ui-btn ui-icon-arrow-r ui-btn-icon-right" %>
<ul data-role="listview" data-inset="true">
  <li><%= link_to t("About"), about_path %></li>
  <li><%= link_to t("Contact"), contact_path %></li>
</ul>
<ul data-role="listview" data-inset="true">
  <li><%= link_to t("Need help?"), need_help_path %></li>
</ul>
<% else %>
  <ul data-role="listview" data-inset="true">
    <li><%= link_to current_user.name, user_path(current_user) %></li>
    <li data-role="list-divider"><%= t("Favorites") %></li>
    <li><%= link_to t("Home"), root_path %></li>
    <li><%= link_to t("Search ", model: t('activerecord.models.user').pluralize(:locale)), users_path %></li>
    <li><%= link_to t("Search ", model: t('activerecord.models.offering').pluralize(:locale)), offerings_path %></li>
    <li><%= link_to t("Search ", model: t('activerecord.models.want').pluralize(:locale)), wants_path %></li>
    <li><%= link_to t('activerecord.models.message'), messages_path %></li>
    <!-- <li><%= link_to t("Logs"), "#" %></li> -->
    <li data-role="list-divider"><%= t("Self Informations") %></li>
    <li><%= link_to t('activerecord.models.offering'), offerings_user_path(current_user) %></li>
    <li><%= link_to t('activerecord.models.want'), wants_user_path(current_user) %></li>
    <!-- <li><%= link_to t("Friends"), "#" %></li> -->
    <li><%= link_to t("activerecord.models.account"), accounts_path %></li>
    <li><%= link_to t("Settings"), edit_user_registration_path %></li>
    <li data-role="list-divider"><%= t("System") %></li>
    <!-- <li><%= link_to t("Instructions"), "#" %></li> -->
    <li><%= link_to t("Sign out"), destroy_user_session_path, method: :delete, data: { ajax: false } %></li>
  </ul>
<% end %>
