<% provide :title, t("Koubata Project") %>
<% unless user_signed_in? %>
  <p><%= t('Welcome to Koubata Project!') %></p>
  <p><%= t('Be happy by using eco money!') %>
  <p><%= t("If you don't have an account you can sign up!") %></p>
  <%= link_to t("Sign in"), new_user_session_path, data: { ajax: false }, class: "ui-btn ui-icon-arrow-r ui-btn-icon-right" %>
  <%= link_to t("Sign up"), new_user_registration_path, class: "ui-btn ui-icon-arrow-r ui-btn-icon-right" %>
<% else %>
  <%= t('Hi', name: current_user.name) %>
  <ul data-role="listview" data-inset="true">
	  <li><%= link_to t("Search ", model: t('activerecord.models.user').pluralize(:locale)), users_path %></li>
	  <li><%= link_to t("Search ", model: t('activerecord.models.offering').pluralize(:locale)), offerings_path %></li>
	  <li><%= link_to t("Search ", model: t('activerecord.models.want').pluralize(:locale)), wants_path %></li>
	  <li><%= link_to t('activerecord.models.message'), messages_path %></li>
	</ul>

<% end %>
