<%= form_for(@payment, html: { data: { ajax: false}} ) do |f| %>
  <ul data-role="listview" data-inset="true">
  <% if @payment.errors.any? %>
    <li>
      <div id="error_explanation">
        <h2><%=t "activerecord.errors.template.header.other", :model => Payment.model_name.human, :count => @payment.errors.count %></h2>

        <ul>
        <% @payment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </li>
  <% end %>

    <li class="field ui-field-contain">
      <%= label :payment, :recepient_id %>
      <%= collection_select :payment, :recepient_id, @recepients, :id, :name %>
    </li>

    <li class="field ui-field-contain">
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </li>

    <li class="field ui-field-contain">
      <%= f.label :amount %>
      <%= f.number_field :amount %>
    </li>

    <li class="field ui-field-contain">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </li>

    <li class="actions">
<!--
      <%= f.hidden_field :direction, value: 'deposit' %>
-->
      <%= f.submit t("Submit new payment") %>
    </li>
  </ul>
<% end %>
