<% provide :locale, I18n.locale.inspect %>
<% provide :title,  t("Listing ", model: Payment.model_name.human.pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= link_to t('New ', model: Payment.model_name.human), new_payment_path, class: "ui-btn" %>

<% if @payments.present? %>
  <table>
    <tr>
      <th><%= t("Person") %></th>
      <th><%= t("Amount") %></th>
      <th><%= t("Subject") %></th>
    </tr>
    <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.with.name %></td>
      <td style="text-align: right;"><%= payment.payment %></td>
      <td><%= link_to payment.subject, payment %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <%= t("No transfer record.") %>
<% end %>
