<% provide :title, t('New ', model: t('activerecord.models.payment')) %>
<h1><%= yield(:title) %></h1>

<p><strong><%= t('Current balance') %></strong>: <%= current_user.account.balance %> <%= t('points') %></p>
<%= render 'form' %>

<%= link_to t('Back'), accounts_path, class: "ui-btn ui-icon-arrow-l ui-btn-icon-left" %>

<!--
<%= link_to t('Back'), payments_path, class: "ui-btn ui-icon-arrow-l ui-btn-icon-left" %>
-->
