<% provide :title, Payment.model_name.human %>
<h1><%= yield(:title) %></h1>


<ul data-role="listview" data-inset="true">
<li>
  <strong>日時:</strong>
  <%= l(@payment.created_at) %>
</li>

<li>
  <strong>支払人:</strong>
  <%= @payment.sender.name %>
</li>

<li>
  <strong>受取人:</strong>
  <%= @payment.recepient.name %>
</li>

<li>
  <strong><%= Payment.human_attribute_name(:subject) %>:</strong>
  <%= @payment.subject %>
</li>

<li>
  <strong><%= Payment.human_attribute_name(:amount) %>:</strong>
  <%= @payment.amount %>
</li>

<li>
  <strong><%= Payment.human_attribute_name(:sender_balance_before) %>:</strong>
  <%= @payment.sender_balance_before %>
</li>

<li>
  <strong><%= Payment.human_attribute_name(:sender_balance_after) %>:</strong>
  <%= @payment.sender_balance_after %>
</li>

<li>
  <strong><%= Payment.human_attribute_name(:recepient_balance_before) %>:</strong>
  <%= @payment.recepient_balance_before %>
</li>

<li>
  <strong><%= Payment.human_attribute_name(:recepient_balance_after) %>:</strong>
  <%= @payment.recepient_balance_after %>
</li>

<li>
  <h2><%= Payment.human_attribute_name(:comment) %>:</h2>
  <p><%= simple_format @payment.comment %></p>
</li>
</ul>

  <%= link_to t('Back'), accounts_path, class: "ui-btn" %>
<!--
<%= link_to t('Edit'), edit_payment_path(@payment) %> |
<%= link_to t('Back'), payments_path %>
-->
