<% if user_signed_in? %>
  <div data-role="footer" data-position="fixed" data-theme="b">
    <div data-role="navbar" data-grid="a">
      <ul>
        <li>
          <%= link_to talks_path, data: { icon: 'phone' } do %>
            <%= Talk.model_name.human %>
          <% end %>
        </li>
        <li>
          <%= link_to notifications_path, data: { icon: 'info' } do %>
            <%= Notification.model_name.human %>
            <% if @notifications_count > 0 %><span class="count-icon"><%= @notifications_count %><% end %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
<% end %>
