<% if user_signed_in? %>
  <div data-role="footer" data-position="fixed" data-theme="b">
    <div data-role="navbar" data-grid="b">
      <ul>
        <li>
          <%= link_to talks_path, data: { icon: 'phone' } do %>
            <%= Talk.model_name.human %>
          <% end %>
        </li>
        <li>
          <%= link_to notifications_path, data: { icon: 'info' } do %>
            <%= Notification.model_name.human %>
            <span class="count-icon"><%= @notifications_count %></span>
          <% end %>
        </li>
        <li><a href="#" data-icon="calendar">スケジュール<span class="count-icon">200</span></a></li>
      </ul>
    </div>
  </div>
<% else %>
<% end %>
