<% provide :title,  t('activerecord.models.account') %>
<h1><%= yield(:title) %></h1>

<p><strong><%= Payment.human_attribute_name(:balance) %></strong>: <%= current_user.account.balance %><%= t('points') %></p>
<%= link_to t('New payment'), new_payment_path, class: "ui-btn" %>

<h2><%= t('Transfer Record') %></h2>
<% if @payments.present? %>
  <table>
    <tr>
      <th><%= t('Datetime') %></th>
      <th><%= t('Person') %></th>
      <th><%= t('Type') %></th>
      <th><%= t('Amount') %></th>
      <th><%= t('Balance') %></th>
      <th><%= t('Subject') %></th>
    </tr>
    <% @payments.each do |payment| %>
    <tr>
      <td><%= l(payment.created_at) %></td>
      <td><%= payment.with.user.name %></td>
      <td><%= payment.direction == "from" ? t('Withdraw') : t('Deposite') %></td>
      <td style="text-align: right;"><%= payment.payment.abs %></td>
      <td style="text-align: right;"><%= payment.balance %></td>
      <td><%= link_to payment.subject, payment %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <%= t('No transfer record.') %>
<% end %>
