<% provide :title,  t('activerecord.models.account') %>
<h1><%= yield(:title) %></h1>

<p><strong><%= Payment.human_attribute_name(:balance) %></strong>: <%= current_user.account.balance %></p>
<%= link_to t('New ', model: t('activerecord.models.payment')), new_payment_path, data: { role: :button } %>

<h2>取引履歴</h2>
<% if @payments.present? %>
  <table>
    <tr>
      <th>日時</th>
      <th>取引相手</th>
      <th>種別</th>
      <th>振込</th>
      <th>残高</th>
      <th>件名</th>
    </tr>
    <% @payments.each do |payment| %>
    <tr>
      <td><%= l(payment.created_at) %></td>
      <td><%= payment.with.name %></td>
      <td><%= payment.direction == "from" ? "送金" : "入金" %></td>
      <td style="text-align: right;"><%= payment.payment %></td>
      <td style="text-align: right;"><%= payment.balance %></td>
      <td><%= link_to payment.subject, payment %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  取引履歴はありません。
<% end %>
